### Query 1

In [27]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, count
import time
import csv

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [ ]:
#Both Dataframe and RDD implementations are to use 4 spark executors

spark = SparkSession.builder \
    .appName("Query1 DataFrame API") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

#### Dataframe Implementation

In [23]:
start_time = time.time()

# Load Crime Data
crime_data = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True, inferSchema=True)

# Filter for "AGGRAVATED ASSAULT"
assault_data = crime_data.filter(col("Crm Cd Desc").contains("AGGRAVATED ASSAULT"))

# Age Groups
categorized = assault_data.withColumn(
    "AgeGroup",
    when(col("Vict Age") < 18, "Children")
    .when((col("Vict Age") >= 18) & (col("Vict Age") <= 24), "Young Adults")
    .when((col("Vict Age") >= 25) & (col("Vict Age") <= 64), "Adults")
    .when(col("Vict Age") > 64, "Seniors")
)

# Group and count
result_df = categorized.groupBy("AgeGroup").agg(count("*").alias("Count")).orderBy(col("Count").desc())

# Show results
result_df.show()

# Stop timer and print elapsed time
elapsed_time = time.time() - start_time
print(f"Execution Time (DataFrame API): {elapsed_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------+-----+
|    AgeGroup|Count|
+------------+-----+
|      Adults|72610|
|Young Adults|23472|
|    Children|10724|
|     Seniors| 3099|
+------------+-----+

Execution Time (DataFrame API): 19.31 seconds

#### RDD Implementation

In [33]:
start_time = time.time()

# Load dataset as RDD
crime_rdd = spark.sparkContext.textFile("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv")

# Extract header and filter it out
header = crime_rdd.first()
crime_rdd = crime_rdd.filter(lambda row: row != header)

# Parse CSV rows


def parse_csv(line):
    return list(csv.reader([line]))[0]


parsed_rdd = crime_rdd.map(parse_csv)

# Filter for "AGGRAVATED ASSAULT"
assault_rdd = parsed_rdd.filter(lambda row: "AGGRAVATED ASSAULT" in row[9])

# Age groups
age_group_rdd = assault_rdd.map(lambda row: (
    "Children" if int(row[11]) < 18 else
    "Young Adults" if 18 <= int(row[11]) <= 24 else
    "Adults" if 25 <= int(row[11]) <= 64 else
    "Seniors"
))

# Group and count
result_rdd = age_group_rdd.map(lambda group: (group, 1)).reduceByKey(lambda a, b: a + b).sortBy(lambda x: x[1], ascending=False)

# Show results
for group, count in result_rdd.collect():
    print(f"{group}: {count}")

# Stop timer and print elapsed time
elapsed_time = time.time() - start_time
print(f"Execution Time (RDD API): {elapsed_time:.2f} seconds")

# Stop spark session
spark.stop()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Adults: 72610
Young Adults: 23472
Children: 10724
Seniors: 3099
Execution Time (RDD API): 21.01 seconds

### Query 2

#### i) Data_Frame API

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, when, row_number, expr
from pyspark.sql.window import Window
import time

# Start timer
start_time = time.time()

# Start Spark session
spark = SparkSession.builder \
    .appName("Query2 DataFrame API") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

# Load datasets
crime_data_2010_2019 = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
    header=True, inferSchema=True
)
crime_data_2020_present = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",
    header=True, inferSchema=True
)

# Combine both datasets
crime_data = crime_data_2010_2019.union(crime_data_2020_present)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [25]:
# Aggregation logic
aggregated = crime_data.groupBy(
    expr("substring(`DATE OCC`, 7, 4)").alias("YEAR"),  # Extract year from DATE OCC
    col("AREA NAME")
).agg(
    count("*").alias("total_cases"),
    sum(when(~col("Status Desc").isin("UNK", "Invest Cont"), 1).otherwise(0)).alias("closed_cases")  # Non-"UNK"/"Invest Cont" are closed
).withColumn("closed_case_rate", col("closed_cases") / col("total_cases"))

# Define window specification for ranking within each year
window_spec = Window.partitionBy("YEAR").orderBy(col("closed_case_rate").desc())

# Assign rank and filter top 3 precincts per year
ranked = aggregated.withColumn("ranking", row_number().over(window_spec)) \
    .filter(col("ranking") <= 3) \
    .orderBy("YEAR", "ranking")

# Measure the end time for the DataFrame API operations
dataframe_api_end_time = time.time()

# Count rows for showing all results
row_count = ranked.count()

# Show all rows in the output
ranked.show(truncate=False, n=row_count)

# Print DataFrame API execution time
print(f"DataFrame API Execution Time: {dataframe_api_end_time - dataframe_api_start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-----------+------------+-------------------+-------+
|YEAR|AREA NAME  |total_cases|closed_cases|closed_case_rate   |ranking|
+----+-----------+-----------+------------+-------------------+-------+
|2010|Rampart    |8707       |2860        |0.32847134489491214|1      |
|2010|Olympic    |8764       |2762        |0.3151528982199909 |2      |
|2010|Harbor     |9598       |2818        |0.2936028339237341 |3      |
|2011|Olympic    |7988       |2799        |0.35040060090135206|1      |
|2011|Rampart    |8444       |2744        |0.324964471814306  |2      |
|2011|Harbor     |9841       |2806        |0.2851336246316431 |3      |
|2012|Olympic    |8543       |2930        |0.3429708533302119 |1      |
|2012|Rampart    |8626       |2800        |0.3246000463714352 |2      |
|2012|Harbor     |9441       |2786        |0.29509585848956676|3      |
|2013|Olympic    |8305       |2789        |0.3358217940999398 |1      |
|2013|Rampart    |8148       |2616        |0.32106038291605304|2      |
|2013|Harbor     |8431       |2506        |0.29723638951488557|3      |
|2014|Van Nuys   |9478       |3035        |0.320215235281705  |1      |
|2014|West Valley|7953       |2505        |0.3149754809505847 |2      |
|2014|Mission    |9976       |3115        |0.31224939855653566|3      |
|2015|Van Nuys   |10485      |3383        |0.32265140677157844|1      |
|2015|Mission    |10652      |3245        |0.30463762673676303|2      |
|2015|Foothill   |7762       |2356        |0.3035300180365885 |3      |
|2016|Van Nuys   |10508      |3383        |0.32194518462124094|1      |
|2016|West Valley|9697       |3045        |0.3140146437042384 |2      |
|2016|Foothill   |7991       |2390        |0.29908647228131646|3      |
|2017|Van Nuys   |10825      |3470        |0.320554272517321  |1      |
|2017|Mission    |10887      |3381        |0.31055387158996967|2      |
|2017|Foothill   |8218       |2504        |0.30469700657094184|3      |
|2018|Foothill   |8122       |2496        |0.30731346958877126|1      |
|2018|Mission    |10206      |3136        |0.30727023319615915|2      |
|2018|Van Nuys   |10486      |3031        |0.2890520694259012 |3      |
|2019|Mission    |9197       |2826        |0.30727411112319236|1      |
|2019|West Valley|8728       |2669        |0.3057974335472044 |2      |
|2019|N Hollywood|11143      |3258        |0.2923808669119627 |3      |
|2020|West Valley|8092       |2490        |0.30771131982204647|1      |
|2020|Mission    |8481       |2557        |0.3014974649215894 |2      |
|2020|Harbor     |8874       |2635        |0.29693486590038315|3      |
|2021|Mission    |8236       |2497        |0.30318115590092276|1      |
|2021|West Valley|8543       |2475        |0.28971087440009363|2      |
|2021|Foothill   |7048       |1973        |0.27993757094211125|3      |
|2022|West Valley|10284      |2729        |0.26536367172306496|1      |
|2022|Harbor     |9196       |2422        |0.263375380600261  |2      |
|2022|Topanga    |9461       |2482        |0.26234013317831095|3      |
|2023|Foothill   |7156       |1915        |0.2676076020122974 |1      |
|2023|Topanga    |9639       |2558        |0.2653802261645399 |2      |
|2023|Mission    |8978       |2304        |0.2566273112051682 |3      |
|2024|N Hollywood|6526       |1279        |0.19598528961078762|1      |
|2024|Foothill   |3582       |667         |0.18620882188721385|2      |
|2024|77th Street|6198       |1090        |0.17586318167150694|3      |
+----+-----------+-----------+------------+-------------------+-------+

DataFrame API Execution Time: 65.09 seconds

#### ii) SQL API

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
import time

# Start timer
sql_api_start_time = time.time()
# Start Spark session
spark = SparkSession.builder \
    .appName("Query2 SQL API") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

# Load datasets
crime_data_2010_2019 = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
    header=True, inferSchema=True
)
crime_data_2020_present = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",
    header=True, inferSchema=True
)

# Combine datasets
crime_data = crime_data_2010_2019.union(crime_data_2020_present)

# Register the DataFrame as a temporary SQL table
crime_data.createOrReplaceTempView("crime_data")

# SQL query
sql_query = """
    WITH Aggregated AS (
        SELECT
            SUBSTRING(`DATE OCC`, 7, 4) AS YEAR,
            `AREA NAME` AS Precinct,
            COUNT(*) AS total_cases,
            SUM(CASE WHEN `Status Desc` NOT IN ('UNK', 'Invest Cont') THEN 1 ELSE 0 END) AS closed_cases,
            SUM(CASE WHEN `Status Desc` NOT IN ('UNK', 'Invest Cont') THEN 1 ELSE 0 END) / COUNT(*) AS closed_case_rate
        FROM crime_data
        GROUP BY SUBSTRING(`DATE OCC`, 7, 4), `AREA NAME`
    ),
    Ranked AS (
        SELECT
            YEAR,
            Precinct,
            total_cases,
            closed_cases,
            closed_case_rate,
            ROW_NUMBER() OVER (PARTITION BY YEAR ORDER BY closed_case_rate DESC) AS ranking
        FROM Aggregated
    )
    SELECT
        YEAR,
        Precinct,
        total_cases,
        closed_cases,
        closed_case_rate,
        ranking
    FROM Ranked
    WHERE ranking <= 3
    ORDER BY YEAR, ranking
"""



# Execute the SQL query
result = spark.sql(sql_query)

# Count rows to ensure all results are shown
row_count = result.count()

# Show the results
result.show(truncate=False, n=row_count)

# End timer
sql_api_end_time = time.time()

# Print SQL API execution time
print(f"SQL API Execution Time: {sql_api_end_time - sql_api_start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-----------+------------+-------------------+-------+
|YEAR|Precinct   |total_cases|closed_cases|closed_case_rate   |ranking|
+----+-----------+-----------+------------+-------------------+-------+
|2010|Rampart    |8707       |2860        |0.32847134489491214|1      |
|2010|Olympic    |8764       |2762        |0.3151528982199909 |2      |
|2010|Harbor     |9598       |2818        |0.2936028339237341 |3      |
|2011|Olympic    |7988       |2799        |0.35040060090135206|1      |
|2011|Rampart    |8444       |2744        |0.324964471814306  |2      |
|2011|Harbor     |9841       |2806        |0.2851336246316431 |3      |
|2012|Olympic    |8543       |2930        |0.3429708533302119 |1      |
|2012|Rampart    |8626       |2800        |0.3246000463714352 |2      |
|2012|Harbor     |9441       |2786        |0.29509585848956676|3      |
|2013|Olympic    |8305       |2789        |0.3358217940999398 |1      |
|2013|Rampart    |8148       |2616        |0.32106038291605304|2      |
|2013|Harbor     |8431       |2506        |0.29723638951488557|3      |
|2014|Van Nuys   |9478       |3035        |0.320215235281705  |1      |
|2014|West Valley|7953       |2505        |0.3149754809505847 |2      |
|2014|Mission    |9976       |3115        |0.31224939855653566|3      |
|2015|Van Nuys   |10485      |3383        |0.32265140677157844|1      |
|2015|Mission    |10652      |3245        |0.30463762673676303|2      |
|2015|Foothill   |7762       |2356        |0.3035300180365885 |3      |
|2016|Van Nuys   |10508      |3383        |0.32194518462124094|1      |
|2016|West Valley|9697       |3045        |0.3140146437042384 |2      |
|2016|Foothill   |7991       |2390        |0.29908647228131646|3      |
|2017|Van Nuys   |10825      |3470        |0.320554272517321  |1      |
|2017|Mission    |10887      |3381        |0.31055387158996967|2      |
|2017|Foothill   |8218       |2504        |0.30469700657094184|3      |
|2018|Foothill   |8122       |2496        |0.30731346958877126|1      |
|2018|Mission    |10206      |3136        |0.30727023319615915|2      |
|2018|Van Nuys   |10486      |3031        |0.2890520694259012 |3      |
|2019|Mission    |9197       |2826        |0.30727411112319236|1      |
|2019|West Valley|8728       |2669        |0.3057974335472044 |2      |
|2019|N Hollywood|11143      |3258        |0.2923808669119627 |3      |
|2020|West Valley|8092       |2490        |0.30771131982204647|1      |
|2020|Mission    |8481       |2557        |0.3014974649215894 |2      |
|2020|Harbor     |8874       |2635        |0.29693486590038315|3      |
|2021|Mission    |8236       |2497        |0.30318115590092276|1      |
|2021|West Valley|8543       |2475        |0.28971087440009363|2      |
|2021|Foothill   |7048       |1973        |0.27993757094211125|3      |
|2022|West Valley|10284      |2729        |0.26536367172306496|1      |
|2022|Harbor     |9196       |2422        |0.263375380600261  |2      |
|2022|Topanga    |9461       |2482        |0.26234013317831095|3      |
|2023|Foothill   |7156       |1915        |0.2676076020122974 |1      |
|2023|Topanga    |9639       |2558        |0.2653802261645399 |2      |
|2023|Mission    |8978       |2304        |0.2566273112051682 |3      |
|2024|N Hollywood|6526       |1279        |0.19598528961078762|1      |
|2024|Foothill   |3582       |667         |0.18620882188721385|2      |
|2024|77th Street|6198       |1090        |0.17586318167150694|3      |
+----+-----------+-----------+------------+-------------------+-------+

SQL API Execution Time: 34.04 seconds

csv to parquet transition

In [53]:
from pyspark.sql import SparkSession

# Start Spark session
spark = SparkSession.builder \
    .appName("Save Crime Data as Parquet") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

# Load datasets
crime_data_2010_2019 = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
    header=True, inferSchema=True
)
crime_data_2020_present = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",
    header=True, inferSchema=True
)

# Combine datasets
crime_data = crime_data_2010_2019.union(crime_data_2020_present)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
# Save as a single Parquet file to the specified S3 bucket
output_path = "s3://groups-bucket-dblab-905418150721/group28/query2/"
crime_data.repartition(1).write.mode("overwrite").parquet(output_path)

print(f"Data successfully saved to {output_path} in Parquet format.")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Data successfully saved to s3://groups-bucket-dblab-905418150721/group28/query2/ in Parquet format.

In [30]:
#parquet solution
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
import time

# Start timer
sql_api_start_time = time.time()

# Start Spark session
spark = SparkSession.builder \
    .appName("Query2 SQL API") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

# Crime Dataset in Parquet format
crime_data = spark.read.parquet(
    "s3://groups-bucket-dblab-905418150721/group28/query2/part-00000-fea3c04b-7961-41ea-8e05-d62534cf766e-c000.snappy.parquet"
)

# Register the DataFrame as a temporary SQL table
crime_data.createOrReplaceTempView("crime_data")

# SQL query
sql_query = """
    WITH Aggregated AS (
        SELECT
            SUBSTRING(`DATE OCC`, 7, 4) AS YEAR,
            `AREA NAME` AS Precinct,
            COUNT(*) AS total_cases,
            SUM(CASE WHEN `Status Desc` NOT IN ('UNK', 'Invest Cont') THEN 1 ELSE 0 END) AS closed_cases,
            SUM(CASE WHEN `Status Desc` NOT IN ('UNK', 'Invest Cont') THEN 1 ELSE 0 END) / COUNT(*) AS closed_case_rate
        FROM crime_data
        GROUP BY SUBSTRING(`DATE OCC`, 7, 4), `AREA NAME`
    ),
    Ranked AS (
        SELECT
            YEAR,
            Precinct,
            total_cases,
            closed_cases,
            closed_case_rate,
            ROW_NUMBER() OVER (PARTITION BY YEAR ORDER BY closed_case_rate DESC) AS ranking
        FROM Aggregated
    )
    SELECT
        YEAR,
        Precinct,
        total_cases,
        closed_cases,
        closed_case_rate,
        ranking
    FROM Ranked
    WHERE ranking <= 3
    ORDER BY YEAR, ranking
"""

# Execute the SQL query
result = spark.sql(sql_query)

# Count rows to ensure all results are shown
row_count = result.count()

# Show the results
result.show(truncate=False, n=row_count)

# End timer
sql_api_end_time = time.time()

# Print SQL API execution time
print(f"SQL API Execution Time: {sql_api_end_time - sql_api_start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-----------+------------+-------------------+-------+
|YEAR|Precinct   |total_cases|closed_cases|closed_case_rate   |ranking|
+----+-----------+-----------+------------+-------------------+-------+
|2010|Rampart    |8707       |2860        |0.32847134489491214|1      |
|2010|Olympic    |8764       |2762        |0.3151528982199909 |2      |
|2010|Harbor     |9598       |2818        |0.2936028339237341 |3      |
|2011|Olympic    |7988       |2799        |0.35040060090135206|1      |
|2011|Rampart    |8444       |2744        |0.324964471814306  |2      |
|2011|Harbor     |9841       |2806        |0.2851336246316431 |3      |
|2012|Olympic    |8543       |2930        |0.3429708533302119 |1      |
|2012|Rampart    |8626       |2800        |0.3246000463714352 |2      |
|2012|Harbor     |9441       |2786        |0.29509585848956676|3      |
|2013|Olympic    |8305       |2789        |0.3358217940999398 |1      |
|2013|Rampart    |8148       |2616        |0.32106038291605304|2      |
|2013|Harbor     |8431       |2506        |0.29723638951488557|3      |
|2014|Van Nuys   |9478       |3035        |0.320215235281705  |1      |
|2014|West Valley|7953       |2505        |0.3149754809505847 |2      |
|2014|Mission    |9976       |3115        |0.31224939855653566|3      |
|2015|Van Nuys   |10485      |3383        |0.32265140677157844|1      |
|2015|Mission    |10652      |3245        |0.30463762673676303|2      |
|2015|Foothill   |7762       |2356        |0.3035300180365885 |3      |
|2016|Van Nuys   |10508      |3383        |0.32194518462124094|1      |
|2016|West Valley|9697       |3045        |0.3140146437042384 |2      |
|2016|Foothill   |7991       |2390        |0.29908647228131646|3      |
|2017|Van Nuys   |10825      |3470        |0.320554272517321  |1      |
|2017|Mission    |10887      |3381        |0.31055387158996967|2      |
|2017|Foothill   |8218       |2504        |0.30469700657094184|3      |
|2018|Foothill   |8122       |2496        |0.30731346958877126|1      |
|2018|Mission    |10206      |3136        |0.30727023319615915|2      |
|2018|Van Nuys   |10486      |3031        |0.2890520694259012 |3      |
|2019|Mission    |9197       |2826        |0.30727411112319236|1      |
|2019|West Valley|8728       |2669        |0.3057974335472044 |2      |
|2019|N Hollywood|11143      |3258        |0.2923808669119627 |3      |
|2020|West Valley|8092       |2490        |0.30771131982204647|1      |
|2020|Mission    |8481       |2557        |0.3014974649215894 |2      |
|2020|Harbor     |8874       |2635        |0.29693486590038315|3      |
|2021|Mission    |8236       |2497        |0.30318115590092276|1      |
|2021|West Valley|8543       |2475        |0.28971087440009363|2      |
|2021|Foothill   |7048       |1973        |0.27993757094211125|3      |
|2022|West Valley|10284      |2729        |0.26536367172306496|1      |
|2022|Harbor     |9196       |2422        |0.263375380600261  |2      |
|2022|Topanga    |9461       |2482        |0.26234013317831095|3      |
|2023|Foothill   |7156       |1915        |0.2676076020122974 |1      |
|2023|Topanga    |9639       |2558        |0.2653802261645399 |2      |
|2023|Mission    |8978       |2304        |0.2566273112051682 |3      |
|2024|N Hollywood|6526       |1279        |0.19598528961078762|1      |
|2024|Foothill   |3582       |667         |0.18620882188721385|2      |
|2024|77th Street|6198       |1090        |0.17586318167150694|3      |
+----+-----------+-----------+------------+-------------------+-------+

SQL API Execution Time: 15.60 seconds

### Query 3

In [1]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.sql.types import GeometryType
from pyspark.sql.functions import col, regexp_replace, round, avg, expr, udf, count, sum as spark_sum
from pyspark.sql.types import StringType
from shapely.geometry import shape
from shapely import wkt
import time

# Initialize Spark session with Sedona
spark = SparkSession.builder \
    .appName("Query3_LA_Analysis") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.kryo.registrator", "org.apache.sedona.core.serde.SedonaKryoRegistrator") \
    .getOrCreate()

# Register Sedona
SedonaRegistrator.registerAll(spark)

start_time = time.time()

# Load and preprocess income dataset
income_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/LA_income_2015.csv", header=True, inferSchema=True)
income_df = income_df.withColumn(
    "Estimated Median Income",
    regexp_replace(col("Estimated Median Income"), "[$,]", "").cast("float")
)

# Load and preprocess census dataset
census_df = spark.read.json("s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson")
census_df = census_df.select(
    col("properties.ZCTA10").alias("Zip Code"),
    col("properties.POP_2010").alias("Population"),
    col("properties.HOUSING10").alias("Housing"),
    col("properties.COMM").alias("COMM"),
    col("geometry.coordinates").alias("Coordinates")
)

# Convert GeoJSON to WKT for Sedona


def geojson_to_wkt(coords):
    if coords is None:
        return None
    try:
        geom = shape({"type": "Polygon", "coordinates": coords})
        return wkt.dumps(geom)
    except Exception as e:
        print(f"Error processing coordinates: {coords}, Error: {e}")
        return None


geojson_to_wkt_udf = udf(geojson_to_wkt, StringType())
census_df = census_df.withColumn("wkt_geometry", geojson_to_wkt_udf(census_df["Coordinates"]))
census_df = census_df.withColumn("geometry", expr("ST_GeomFromWKT(wkt_geometry)"))

# Load and preprocess crime dataset
crime_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True, inferSchema=True)
crime_df = crime_df.filter(col("DATE OCC").substr(7, 4) == "2010")
crime_df = crime_df.select(
    col("DR_NO"),
    col("LAT"),
    col("LON")
).withColumn("geometry", expr("ST_Point(LON, LAT)"))

# Perform spatial join using Sedona
census_df.createOrReplaceTempView("census")
crime_df.createOrReplaceTempView("crime")

crime_with_comm_df = spark.sql("""
    SELECT c.COMM, cr.DR_NO
    FROM crime cr
    JOIN census c
    ON ST_Contains(c.geometry, cr.geometry)
""")

# Precompute income by COMM to avoid recomputation
income_by_comm = income_df.select(
    col("Zip Code"),
    col("Estimated Median Income")
).join(
    census_df.select("Zip Code", "COMM"),
    on="Zip Code",
    how="inner"
).groupBy("COMM").agg(
    round(avg("Estimated Median Income"), 2).alias("Median Income")
)

# Calculate the final DataFrame with all required information
final_df = census_df.groupBy("COMM").agg(
    spark_sum("Population").alias("Total Population"),
    spark_sum("Housing").alias("Total Housing")
).join(
    crime_with_comm_df.groupBy("COMM").agg(
        count("DR_NO").alias("Crime Count")
    ),
    on="COMM",
    how="left"
).join(
    income_by_comm,
    on="COMM",
    how="inner"
).withColumn(
    "Crime Per Person",
    round(col("Crime Count") / col("Total Population"), 6)
).withColumn(
    "Income per Person",
    round((col("Median Income") * col("Total Housing")) / col("Total Population"), 2)
).select(
    col("COMM"),
    col("Total Population"),
    col("Crime Count"),
    col("Crime Per Person"),
    col("Median Income"),
    col("Income per Person")
).orderBy(col("Crime Per Person").desc())

final_df.explain(mode="extended")

# Save results for query 4
query3_df = final_df.select(
    col("COMM"),
    col("Income per Person")
)

query3_df.write.mode("ignore").option("header", "true").csv("s3://groups-bucket-dblab-905418150721/group28/query3/")

# Display final results
final_df_area = final_df.withColumnRenamed("COMM", "Area")
final_df_area.show()

end_time = time.time()

# Print execution time
print(f"Execution Time: {end_time - start_time:.2f} seconds")

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

== Parsed Logical Plan ==
'Sort ['Crime Per Person DESC NULLS LAST], true
+- Project [COMM#72, Total Population#208L, Crime Count#217L, Crime Per Person#249, Median Income#197, Income per Person#256]
   +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197, Crime Per Person#249, round(((Median Income#197 * cast(Total Housing#210L as double)) / cast(Total Population#208L as double)), 2) AS Income per Person#256]
      +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197, round((cast(Crime Count#217L as double) / cast(Total Population#208L as double)), 6) AS Crime Per Person#249]
         +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197]
            +- Join Inner, (COMM#72 = COMM#241)
               :- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L]
               :  +- Join LeftOuter, (COMM#72 = COMM#227)
               :     :- Aggregate [COMM#72], [COMM#72, sum(Population#70L) AS Total Population#208L, sum(Housing#71L) AS Total Housing#210L]
               :     :  +- Project [Zip Code#69, Population#70L, Housing#71L, COMM#72, Coordinates#73, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
               :     :     +- Project [Zip Code#69, Population#70L, Housing#71L, COMM#72, Coordinates#73, geojson_to_wkt(Coordinates#73)#85 AS wkt_geometry#86]
               :     :        +- Project [properties#63.ZCTA10 AS Zip Code#69, properties#63.POP_2010 AS Population#70L, properties#63.HOUSING10 AS Housing#71L, properties#63.COMM AS COMM#72, geometry#62.coordinates AS Coordinates#73]
               :     :           +- Relation [_corrupt_record#61,geometry#62,properties#63,type#64] json
               :     +- Aggregate [COMM#227], [COMM#227, count(DR_NO#119) AS Crime Count#217L]
               :        +- Project [COMM#227, DR_NO#119]
               :           +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Contains**
               :              :- SubqueryAlias cr
               :              :  +- SubqueryAlias crime
               :              :     +- View (`crime`, [DR_NO#119,LAT#145,LON#146,geometry#179])
               :              :        +- Project [DR_NO#119, LAT#145, LON#146,  **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS geometry#179]
               :              :           +- Project [DR_NO#119, LAT#145, LON#146]
               :              :              +- Filter (substring(DATE OCC#121, 7, 4) = 2010)
               :              :                 +- Relation [DR_NO#119,Date Rptd#120,DATE OCC#121,TIME OCC#122,AREA #123,AREA NAME#124,Rpt Dist No#125,Part 1-2#126,Crm Cd#127,Crm Cd Desc#128,Mocodes#129,Vict Age#130,Vict Sex#131,Vict Descent#132,Premis Cd#133,Premis Desc#134,Weapon Used Cd#135,Weapon Desc#136,Status#137,Status Desc#138,Crm Cd 1#139,Crm Cd 2#140,Crm Cd 3#141,Crm Cd 4#142,... 4 more fields] csv
               :              +- SubqueryAlias c
               :                 +- SubqueryAlias census
               :                    +- View (`census`, [Zip Code#224,Population#225L,Housing#226L,COMM#227,Coordinates#228,wkt_geometry#86,geometry#93])
               :                       +- Project [Zip Code#224, Population#225L, Housing#226L, COMM#227, Coordinates#228, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
               :                          +- Project [Zip Code#224, Population#225L, Housing#226L, COMM#227, Coordinates#228, geojson_to_wkt(Coordinates#228)#85 AS wkt_geometry#86]
               :                             +- Project [properties#222.ZCTA10 AS Zip Code#224, properties#222.POP_2010 AS Population#225L, properties#222.HOUSING10 AS Housing#226L, properties#222.COMM AS COMM#227, geometry#221.coordinates AS Coordinates#228]
               :                                +- Relation [_corrupt_record#220,geometry#221,properties#222,type#223] json
               +- Aggregate [COMM#241], [COMM#241, round(avg(Estimated Median Income#48), 2) AS Median Income#197]
                  +- Project [Zip Code#42, Estimated Median Income#48, COMM#241]
                     +- Join Inner, (Zip Code#42 = cast(Zip Code#238 as int))
                        :- Project [Zip Code#42, Estimated Median Income#48]
                        :  +- Project [Zip Code#42, Community#43, cast(regexp_replace(Estimated Median Income#44, [$,], , 1) as float) AS Estimated Median Income#48]
                        :     +- Relation [Zip Code#42,Community#43,Estimated Median Income#44] csv
                        +- Project [Zip Code#238, COMM#241]
                           +- Project [Zip Code#238, Population#239L, Housing#240L, COMM#241, Coordinates#242, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
                              +- Project [Zip Code#238, Population#239L, Housing#240L, COMM#241, Coordinates#242, geojson_to_wkt(Coordinates#242)#85 AS wkt_geometry#86]
                                 +- Project [properties#236.ZCTA10 AS Zip Code#238, properties#236.POP_2010 AS Population#239L, properties#236.HOUSING10 AS Housing#240L, properties#236.COMM AS COMM#241, geometry#235.coordinates AS Coordinates#242]
                                    +- Relation [_corrupt_record#234,geometry#235,properties#236,type#237] json

== Analyzed Logical Plan ==
COMM: string, Total Population: bigint, Crime Count: bigint, Crime Per Person: double, Median Income: double, Income per Person: double
Sort [Crime Per Person#249 DESC NULLS LAST], true
+- Project [COMM#72, Total Population#208L, Crime Count#217L, Crime Per Person#249, Median Income#197, Income per Person#256]
   +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197, Crime Per Person#249, round(((Median Income#197 * cast(Total Housing#210L as double)) / cast(Total Population#208L as double)), 2) AS Income per Person#256]
      +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197, round((cast(Crime Count#217L as double) / cast(Total Population#208L as double)), 6) AS Crime Per Person#249]
         +- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L, Median Income#197]
            +- Join Inner, (COMM#72 = COMM#241)
               :- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L]
               :  +- Join LeftOuter, (COMM#72 = COMM#227)
               :     :- Aggregate [COMM#72], [COMM#72, sum(Population#70L) AS Total Population#208L, sum(Housing#71L) AS Total Housing#210L]
               :     :  +- Project [Zip Code#69, Population#70L, Housing#71L, COMM#72, Coordinates#73, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
               :     :     +- Project [Zip Code#69, Population#70L, Housing#71L, COMM#72, Coordinates#73, geojson_to_wkt(Coordinates#73)#85 AS wkt_geometry#86]
               :     :        +- Project [properties#63.ZCTA10 AS Zip Code#69, properties#63.POP_2010 AS Population#70L, properties#63.HOUSING10 AS Housing#71L, properties#63.COMM AS COMM#72, geometry#62.coordinates AS Coordinates#73]
               :     :           +- Relation [_corrupt_record#61,geometry#62,properties#63,type#64] json
               :     +- Aggregate [COMM#227], [COMM#227, count(DR_NO#119) AS Crime Count#217L]
               :        +- Project [COMM#227, DR_NO#119]
               :           +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Contains**
               :              :- SubqueryAlias cr
               :              :  +- SubqueryAlias crime
               :              :     +- View (`crime`, [DR_NO#119,LAT#145,LON#146,geometry#179])
               :              :        +- Project [DR_NO#119, LAT#145, LON#146,  **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS geometry#179]
               :              :           +- Project [DR_NO#119, LAT#145, LON#146]
               :              :              +- Filter (substring(DATE OCC#121, 7, 4) = 2010)
               :              :                 +- Relation [DR_NO#119,Date Rptd#120,DATE OCC#121,TIME OCC#122,AREA #123,AREA NAME#124,Rpt Dist No#125,Part 1-2#126,Crm Cd#127,Crm Cd Desc#128,Mocodes#129,Vict Age#130,Vict Sex#131,Vict Descent#132,Premis Cd#133,Premis Desc#134,Weapon Used Cd#135,Weapon Desc#136,Status#137,Status Desc#138,Crm Cd 1#139,Crm Cd 2#140,Crm Cd 3#141,Crm Cd 4#142,... 4 more fields] csv
               :              +- SubqueryAlias c
               :                 +- SubqueryAlias census
               :                    +- View (`census`, [Zip Code#224,Population#225L,Housing#226L,COMM#227,Coordinates#228,wkt_geometry#86,geometry#93])
               :                       +- Project [Zip Code#224, Population#225L, Housing#226L, COMM#227, Coordinates#228, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
               :                          +- Project [Zip Code#224, Population#225L, Housing#226L, COMM#227, Coordinates#228, geojson_to_wkt(Coordinates#228)#85 AS wkt_geometry#86]
               :                             +- Project [properties#222.ZCTA10 AS Zip Code#224, properties#222.POP_2010 AS Population#225L, properties#222.HOUSING10 AS Housing#226L, properties#222.COMM AS COMM#227, geometry#221.coordinates AS Coordinates#228]
               :                                +- Relation [_corrupt_record#220,geometry#221,properties#222,type#223] json
               +- Aggregate [COMM#241], [COMM#241, round(avg(Estimated Median Income#48), 2) AS Median Income#197]
                  +- Project [Zip Code#42, Estimated Median Income#48, COMM#241]
                     +- Join Inner, (Zip Code#42 = cast(Zip Code#238 as int))
                        :- Project [Zip Code#42, Estimated Median Income#48]
                        :  +- Project [Zip Code#42, Community#43, cast(regexp_replace(Estimated Median Income#44, [$,], , 1) as float) AS Estimated Median Income#48]
                        :     +- Relation [Zip Code#42,Community#43,Estimated Median Income#44] csv
                        +- Project [Zip Code#238, COMM#241]
                           +- Project [Zip Code#238, Population#239L, Housing#240L, COMM#241, Coordinates#242, wkt_geometry#86,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
                              +- Project [Zip Code#238, Population#239L, Housing#240L, COMM#241, Coordinates#242, geojson_to_wkt(Coordinates#242)#85 AS wkt_geometry#86]
                                 +- Project [properties#236.ZCTA10 AS Zip Code#238, properties#236.POP_2010 AS Population#239L, properties#236.HOUSING10 AS Housing#240L, properties#236.COMM AS COMM#241, geometry#235.coordinates AS Coordinates#242]
                                    +- Relation [_corrupt_record#234,geometry#235,properties#236,type#237] json

== Optimized Logical Plan ==
Sort [Crime Per Person#249 DESC NULLS LAST], true
+- Project [COMM#72, Total Population#208L, Crime Count#217L, round((cast(Crime Count#217L as double) / cast(Total Population#208L as double)), 6) AS Crime Per Person#249, Median Income#197, round(((Median Income#197 * cast(Total Housing#210L as double)) / cast(Total Population#208L as double)), 2) AS Income per Person#256]
   +- Join Inner, (COMM#72 = COMM#241)
      :- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L]
      :  +- Join LeftOuter, (COMM#72 = COMM#227)
      :     :- Aggregate [COMM#72], [COMM#72, sum(Population#70L) AS Total Population#208L, sum(Housing#71L) AS Total Housing#210L]
      :     :  +- Project [properties#63.POP_2010 AS Population#70L, properties#63.HOUSING10 AS Housing#71L, properties#63.COMM AS COMM#72]
      :     :     +- Filter isnotnull(properties#63.COMM)
      :     :        +- Relation [_corrupt_record#61,geometry#62,properties#63,type#64] json
      :     +- Aggregate [COMM#227], [COMM#227, count(DR_NO#119) AS Crime Count#217L]
      :        +- Project [COMM#227, DR_NO#119]
      :           +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Contains**
      :              :- Project [DR_NO#119,  **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS geometry#179]
      :              :  +- Filter ((isnotnull(DATE OCC#121) AND (substring(DATE OCC#121, 7, 4) = 2010)) AND isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_Point**  ))
      :              :     +- Relation [DR_NO#119,Date Rptd#120,DATE OCC#121,TIME OCC#122,AREA #123,AREA NAME#124,Rpt Dist No#125,Part 1-2#126,Crm Cd#127,Crm Cd Desc#128,Mocodes#129,Vict Age#130,Vict Sex#131,Vict Descent#132,Premis Cd#133,Premis Desc#134,Weapon Used Cd#135,Weapon Desc#136,Status#137,Status Desc#138,Crm Cd 1#139,Crm Cd 2#140,Crm Cd 3#141,Crm Cd 4#142,... 4 more fields] csv
      :              +- Project [properties#222.COMM AS COMM#227,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
      :                 +- BatchEvalPython [geojson_to_wkt(geometry#221.coordinates)#85], [pythonUDF0#271]
      :                    +- Project [geometry#221, properties#222]
      :                       +- Filter isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**  )
      :                          +- BatchEvalPython [geojson_to_wkt(geometry#221.coordinates)#85], [pythonUDF0#270]
      :                             +- Project [geometry#221, properties#222]
      :                                +- Filter isnotnull(properties#222.COMM)
      :                                   +- Relation [_corrupt_record#220,geometry#221,properties#222,type#223] json
      +- Aggregate [COMM#241], [COMM#241, round(avg(Estimated Median Income#48), 2) AS Median Income#197]
         +- Project [Estimated Median Income#48, COMM#241]
            +- Join Inner, (Zip Code#42 = cast(Zip Code#238 as int))
               :- Project [Zip Code#42, cast(regexp_replace(Estimated Median Income#44, [$,], , 1) as float) AS Estimated Median Income#48]
               :  +- Filter isnotnull(Zip Code#42)
               :     +- Relation [Zip Code#42,Community#43,Estimated Median Income#44] csv
               +- Project [properties#236.ZCTA10 AS Zip Code#238, properties#236.COMM AS COMM#241]
                  +- Filter (isnotnull(properties#236.ZCTA10) AND isnotnull(properties#236.COMM))
                     +- Relation [_corrupt_record#234,geometry#235,properties#236,type#237] json

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [Crime Per Person#249 DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(Crime Per Person#249 DESC NULLS LAST, 1000), ENSURE_REQUIREMENTS, [plan_id=251]
      +- Project [COMM#72, Total Population#208L, Crime Count#217L, round((cast(Crime Count#217L as double) / cast(Total Population#208L as double)), 6) AS Crime Per Person#249, Median Income#197, round(((Median Income#197 * cast(Total Housing#210L as double)) / cast(Total Population#208L as double)), 2) AS Income per Person#256]
         +- SortMergeJoin [COMM#72], [COMM#241], Inner
            :- Project [COMM#72, Total Population#208L, Total Housing#210L, Crime Count#217L]
            :  +- SortMergeJoin [COMM#72], [COMM#227], LeftOuter
            :     :- Sort [COMM#72 ASC NULLS FIRST], false, 0
            :     :  +- HashAggregate(keys=[COMM#72], functions=[sum(Population#70L), sum(Housing#71L)], output=[COMM#72, Total Population#208L, Total Housing#210L], schema specialized)
            :     :     +- Exchange hashpartitioning(COMM#72, 1000), ENSURE_REQUIREMENTS, [plan_id=228]
            :     :        +- HashAggregate(keys=[COMM#72], functions=[partial_sum(Population#70L), partial_sum(Housing#71L)], output=[COMM#72, sum#273L, sum#275L], schema specialized)
            :     :           +- Project [properties#63.POP_2010 AS Population#70L, properties#63.HOUSING10 AS Housing#71L, properties#63.COMM AS COMM#72]
            :     :              +- Filter isnotnull(properties#63.COMM)
            :     :                 +- FileScan json [properties#63] Batched: false, DataFilters: [isnotnull(properties#63.COMM)], Format: JSON, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Block..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<properties:struct<BG10:string,BG10FIP10:string,BG12:string,CB10:string,CEN_FIP13:string,CI...
            :     +- Sort [COMM#227 ASC NULLS FIRST], false, 0
            :        +- HashAggregate(keys=[COMM#227], functions=[count(DR_NO#119)], output=[COMM#227, Crime Count#217L], schema specialized)
            :           +- Exchange hashpartitioning(COMM#227, 1000), ENSURE_REQUIREMENTS, [plan_id=230]
            :              +- HashAggregate(keys=[COMM#227], functions=[partial_count(DR_NO#119)], output=[COMM#227, count#277L], schema specialized)
            :                 +- Project [COMM#227, DR_NO#119]
            :                    +- RangeJoin geometry#179: geometry, geometry#93: geometry, WITHIN
            :                       :- Project [DR_NO#119,  **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS geometry#179]
            :                       :  +- Filter ((isnotnull(DATE OCC#121) AND (substring(DATE OCC#121, 7, 4) = 2010)) AND isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_Point**  ))
            :                       :     +- FileScan csv [DR_NO#119,DATE OCC#121,LAT#145,LON#146] Batched: false, DataFilters: [isnotnull(DATE OCC#121), (substring(DATE OCC#121, 7, 4) = 2010), isnotnull( **org.apache.spark.s..., Format: CSV, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_D..., PartitionFilters: [], PushedFilters: [IsNotNull(DATE OCC)], ReadSchema: struct<DR_NO:int,DATE OCC:string,LAT:double,LON:double>
            :                       +- Project [properties#222.COMM AS COMM#227,  **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**   AS geometry#93]
            :                          +- BatchEvalPython [geojson_to_wkt(geometry#221.coordinates)#85], [pythonUDF0#271]
            :                             +- Project [geometry#221, properties#222]
            :                                +- Filter isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_GeomFromWKT**  )
            :                                   +- BatchEvalPython [geojson_to_wkt(geometry#221.coordinates)#85], [pythonUDF0#270]
            :                                      +- Filter isnotnull(properties#222.COMM)
            :                                         +- FileScan json [geometry#221,properties#222] Batched: false, DataFilters: [isnotnull(properties#222.COMM)], Format: JSON, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Block..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<geometry:struct<coordinates:array<array<array<string>>>,type:string>,properties:struct<BG1...
            +- Sort [COMM#241 ASC NULLS FIRST], false, 0
               +- HashAggregate(keys=[COMM#241], functions=[avg(Estimated Median Income#48)], output=[COMM#241, Median Income#197], schema specialized)
                  +- Exchange hashpartitioning(COMM#241, 1000), ENSURE_REQUIREMENTS, [plan_id=243]
                     +- HashAggregate(keys=[COMM#241], functions=[partial_avg(Estimated Median Income#48)], output=[COMM#241, sum#280, count#281L], schema specialized)
                        +- Project [Estimated Median Income#48, COMM#241]
                           +- BroadcastHashJoin [Zip Code#42], [cast(Zip Code#238 as int)], Inner, BuildLeft, false

### Query 4

#### 1core/2GB

In [2]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.sql.types import GeometryType
from pyspark.sql.functions import col, to_date, year, regexp_replace, count, expr, udf
from pyspark.sql.types import StringType
from shapely.geometry import shape
from shapely.geometry.polygon import Polygon
from shapely import wkt
import time

# Create Spark Session with Sedona enabled
spark = SparkSession.builder \
    .appName("Spatial Join - 1 Core, 2GB Memory") \
    .config("spark.executor.instances", "2") \
    .config("spark.executor.cores", 1) \
    .config("spark.executor.memory", "2g") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.kryo.registrator", "org.apache.sedona.core.serde.SedonaKryoRegistrator") \
    .getOrCreate()

# Register Sedona
SedonaRegistrator.registerAll(spark)

start_time = time.time()

# Load census.geojson
census_df = spark.read.json("s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson")

census_df = census_df.select(
    col("properties.ZCTA10").alias("Zip Code"),
    col("properties.POP_2010").alias("Population"),
    col("properties.HOUSING10").alias("Housing"),
    col("properties.COMM").alias("COMM"),
    col("geometry.coordinates").alias("Coordinates")
)

# Convert to wkt with udf


def geojson_to_wkt(coords):
    if coords is None:
        return None
    try:
        geom = shape({"type": "Polygon", "coordinates": coords})
        return wkt.dumps(geom)
    except Exception as e:
        print(f"Error processing coordinates: {coords}, Error: {e}")
        return None


geojson_to_wkt_udf = udf(geojson_to_wkt, StringType())

wkt_df = census_df.withColumn("wkt_geometry", geojson_to_wkt_udf(census_df["Coordinates"]))
wkt_df.select("wkt_geometry")
wkt_df = wkt_df.withColumn("geometry", expr("ST_GeomFromWKT(wkt_geometry)"))

wkt_census_df = wkt_df.select("COMM", "geometry")

# Load crime.csv
crime_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True, inferSchema=True)
crime_df = crime_df.filter(col("DATE OCC").substr(7, 4) == "2015")

# Select necessary columns and create point geometries
crime_df = crime_df.select(
    col("DR_NO"),
    col("Vict Descent"),
    col("LAT"),
    col("LON")
).withColumn("geometry", expr("ST_Point(LON, LAT)"))

# Load income per person from query3
income_per_person_df = spark.read.csv("s3://groups-bucket-dblab-905418150721/group28/query3/part-00000-5e1158bd-fb96-45fd-a2a9-7bf304269966-c000.csv", header=True, inferSchema=True)

# Load race.csv
race_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/RE_codes.csv", header=True, inferSchema=True)

# Perform Spatial Join
# Register spatial DataFrames as tables
wkt_census_df.createOrReplaceTempView("census")
crime_df.createOrReplaceTempView("crime")

# Perform spatial join using Sedona's ST_Contains
crime_with_zip_df = spark.sql("""
    SELECT c.COMM, cr.DR_NO, cr.`Vict Descent`
    FROM crime cr
    JOIN census c
    ON ST_Contains(c.geometry, cr.geometry)
""")

# Aggregate Crimes by Zip Code and Race
crime_with_race_df = crime_with_zip_df.join(race_df, "Vict Descent", "inner")
grouped_df = crime_with_race_df.groupBy("COMM", "Vict Descent Full").agg(count("*").alias("CrimeCount"))

# Filter Top and Bottom 3 Communities by Income
top_3_comm = income_per_person_df.orderBy(col("Income Per Person").desc()).select("COMM").limit(3)
bottom_3_comm = income_per_person_df.orderBy(col("Income Per Person").asc()).select("COMM").limit(3)

# Convert top and bottom communities to lists for filtering
top_3_comm_list = [row["COMM"] for row in top_3_comm.collect()]
bottom_3_comm_list = [row["COMM"] for row in bottom_3_comm.collect()]

# Filter crime data for Top and Bottom Communities
filtered_crime_top = crime_with_race_df.filter(col("COMM").isin(top_3_comm_list))
filtered_crime_bottom = crime_with_race_df.filter(col("COMM").isin(bottom_3_comm_list))


# Aggregate Crime Counts by Race for Each Group
top_crime_race_df = filtered_crime_top.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

bottom_crime_race_df = filtered_crime_bottom.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

# Display Results
print("Victim Counts by Race in Top 3 High-Income Communities:")
top_crime_race_df.show()

print("\nVictim Counts by Race in Bottom 3 Low-Income Communities:")
bottom_crime_race_df.show()

end_time = time.time()

runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

# Stop Spark Session
spark.stop()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Victim Counts by Race in Top 3 High-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|               White|      544|
|               Other|       73|
|Hispanic/Latin/Me...|       60|
|             Unknown|       41|
|               Black|       37|
|         Other Asian|       15|
|             Chinese|        1|
|American Indian/A...|        1|
+--------------------+---------+


Victim Counts by Race in Bottom 3 Low-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|Hispanic/Latin/Me...|     1494|
|               Black|      456|
|               Other|       53|
|               White|       29|
|         Other Asian|        4|
|             Unknown|        3|
|            Filipino|        1|
+--------------------+---------+

Total execution time: 40.14 seconds

#### 2cores/4GB

In [1]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.sql.types import GeometryType
from pyspark.sql.functions import col, to_date, year, regexp_replace, count, expr, udf
from pyspark.sql.types import StringType
from shapely.geometry import shape
from shapely.geometry.polygon import Polygon
from shapely import wkt
import time

spark = SparkSession.builder \
    .appName("Spatial Join - 1 Core, 2GB Memory") \
    .config("spark.executor.instances", "2") \
    .config("spark.executor.cores", 2) \
    .config("spark.executor.memory", "4g") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.kryo.registrator", "org.apache.sedona.core.serde.SedonaKryoRegistrator") \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

start_time = time.time()

census_df = spark.read.json("s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson")

census_df = census_df.select(
    col("properties.ZCTA10").alias("Zip Code"),
    col("properties.POP_2010").alias("Population"),
    col("properties.HOUSING10").alias("Housing"),
    col("properties.COMM").alias("COMM"),
    col("geometry.coordinates").alias("Coordinates")
)


def geojson_to_wkt(coords):
    if coords is None:
        return None
    try:
        geom = shape({"type": "Polygon", "coordinates": coords})
        return wkt.dumps(geom)
    except Exception as e:
        print(f"Error processing coordinates: {coords}, Error: {e}")
        return None


geojson_to_wkt_udf = udf(geojson_to_wkt, StringType())

wkt_df = census_df.withColumn("wkt_geometry", geojson_to_wkt_udf(census_df["Coordinates"]))
wkt_df.select("wkt_geometry")
wkt_df = wkt_df.withColumn("geometry", expr("ST_GeomFromWKT(wkt_geometry)"))

wkt_census_df = wkt_df.select("COMM", "geometry")

crime_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True, inferSchema=True)
crime_df = crime_df.filter(col("DATE OCC").substr(7, 4) == "2015")

crime_df = crime_df.select(
    col("DR_NO"),
    col("Vict Descent"),
    col("LAT"),
    col("LON")
).withColumn("geometry", expr("ST_Point(LON, LAT)"))

income_per_person_df = spark.read.csv("s3://groups-bucket-dblab-905418150721/group28/query3/part-00000-5e1158bd-fb96-45fd-a2a9-7bf304269966-c000.csv", header=True, inferSchema=True)

race_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/RE_codes.csv", header=True, inferSchema=True)

wkt_census_df.createOrReplaceTempView("census")
crime_df.createOrReplaceTempView("crime")

crime_with_zip_df = spark.sql("""
    SELECT c.COMM, cr.DR_NO, cr.`Vict Descent`
    FROM crime cr
    JOIN census c
    ON ST_Contains(c.geometry, cr.geometry)
""")

crime_with_race_df = crime_with_zip_df.join(race_df, "Vict Descent", "inner")
grouped_df = crime_with_race_df.groupBy("COMM", "Vict Descent Full").agg(count("*").alias("CrimeCount"))

top_3_comm = income_per_person_df.orderBy(col("Income Per Person").desc()).select("COMM").limit(3)
bottom_3_comm = income_per_person_df.orderBy(col("Income Per Person").asc()).select("COMM").limit(3)

top_3_comm_list = [row["COMM"] for row in top_3_comm.collect()]
bottom_3_comm_list = [row["COMM"] for row in bottom_3_comm.collect()]

filtered_crime_top = crime_with_race_df.filter(col("COMM").isin(top_3_comm_list))
filtered_crime_bottom = crime_with_race_df.filter(col("COMM").isin(bottom_3_comm_list))

top_crime_race_df = filtered_crime_top.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

bottom_crime_race_df = filtered_crime_bottom.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

print("Victim Counts by Race in Top 3 High-Income Communities:")
top_crime_race_df.show()

print("\nVictim Counts by Race in Bottom 3 Low-Income Communities:")
bottom_crime_race_df.show()

end_time = time.time()

runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

spark.stop()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Victim Counts by Race in Top 3 High-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|               White|      544|
|               Other|       73|
|Hispanic/Latin/Me...|       60|
|             Unknown|       41|
|               Black|       37|
|         Other Asian|       15|
|             Chinese|        1|
|American Indian/A...|        1|
+--------------------+---------+


Victim Counts by Race in Bottom 3 Low-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|Hispanic/Latin/Me...|     1494|
|               Black|      456|
|               Other|       53|
|               White|       29|
|         Other Asian|        4|
|             Unknown|        3|
|            Filipino|        1|
+--------------------+---------+

Total execution time: 34.99 seconds

#### 4cores/8GB

In [1]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator
from sedona.sql.types import GeometryType
from pyspark.sql.functions import col, to_date, year, regexp_replace, count, expr, udf
from pyspark.sql.types import StringType
from shapely.geometry import shape
from shapely.geometry.polygon import Polygon
from shapely import wkt
import time

spark = SparkSession.builder \
    .appName("Spatial Join - 1 Core, 2GB Memory") \
    .config("spark.executor.instances", "2") \
    .config("spark.executor.cores", 4) \
    .config("spark.executor.memory", "8g") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.kryo.registrator", "org.apache.sedona.core.serde.SedonaKryoRegistrator") \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

start_time = time.time()

census_df = spark.read.json("s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson")

census_df = census_df.select(
    col("properties.ZCTA10").alias("Zip Code"),
    col("properties.POP_2010").alias("Population"),
    col("properties.HOUSING10").alias("Housing"),
    col("properties.COMM").alias("COMM"),
    col("geometry.coordinates").alias("Coordinates")
)

def geojson_to_wkt(coords):
    if coords is None:
        return None
    try:
        geom = shape({"type": "Polygon", "coordinates": coords})
        return wkt.dumps(geom)
    except Exception as e:
        print(f"Error processing coordinates: {coords}, Error: {e}")
        return None


geojson_to_wkt_udf = udf(geojson_to_wkt, StringType())

wkt_df = census_df.withColumn("wkt_geometry", geojson_to_wkt_udf(census_df["Coordinates"]))
wkt_df.select("wkt_geometry")
wkt_df = wkt_df.withColumn("geometry", expr("ST_GeomFromWKT(wkt_geometry)"))

wkt_census_df = wkt_df.select("COMM", "geometry")

crime_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True, inferSchema=True)
crime_df = crime_df.filter(col("DATE OCC").substr(7, 4) == "2015")

crime_df = crime_df.select(
    col("DR_NO"),
    col("Vict Descent"),
    col("LAT"),
    col("LON")
).withColumn("geometry", expr("ST_Point(LON, LAT)"))

income_per_person_df = spark.read.csv("s3://groups-bucket-dblab-905418150721/group28/query3/part-00000-5e1158bd-fb96-45fd-a2a9-7bf304269966-c000.csv", header=True, inferSchema=True)

race_df = spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/RE_codes.csv", header=True, inferSchema=True)

wkt_census_df.createOrReplaceTempView("census")
crime_df.createOrReplaceTempView("crime")

crime_with_zip_df = spark.sql("""
    SELECT c.COMM, cr.DR_NO, cr.`Vict Descent`
    FROM crime cr
    JOIN census c
    ON ST_Contains(c.geometry, cr.geometry)
""")

crime_with_race_df = crime_with_zip_df.join(race_df, "Vict Descent", "inner")
grouped_df = crime_with_race_df.groupBy("COMM", "Vict Descent Full").agg(count("*").alias("CrimeCount"))

top_3_comm = income_per_person_df.orderBy(col("Income Per Person").desc()).select("COMM").limit(3)
bottom_3_comm = income_per_person_df.orderBy(col("Income Per Person").asc()).select("COMM").limit(3)

top_3_comm_list = [row["COMM"] for row in top_3_comm.collect()]
bottom_3_comm_list = [row["COMM"] for row in bottom_3_comm.collect()]

filtered_crime_top = crime_with_race_df.filter(col("COMM").isin(top_3_comm_list))
filtered_crime_bottom = crime_with_race_df.filter(col("COMM").isin(bottom_3_comm_list))

top_crime_race_df = filtered_crime_top.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

bottom_crime_race_df = filtered_crime_bottom.groupBy("Vict Descent Full").agg(
    count("*").alias("VictCount")
).orderBy(col("VictCount").desc())

print("Victim Counts by Race in Top 3 High-Income Communities:")
top_crime_race_df.show()

print("\nVictim Counts by Race in Bottom 3 Low-Income Communities:")
bottom_crime_race_df.show()

end_time = time.time()

runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

spark.stop()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Victim Counts by Race in Top 3 High-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|               White|      544|
|               Other|       73|
|Hispanic/Latin/Me...|       60|
|             Unknown|       41|
|               Black|       37|
|         Other Asian|       15|
|             Chinese|        1|
|American Indian/A...|        1|
+--------------------+---------+


Victim Counts by Race in Bottom 3 Low-Income Communities:
+--------------------+---------+
|   Vict Descent Full|VictCount|
+--------------------+---------+
|Hispanic/Latin/Me...|     1494|
|               Black|      456|
|               Other|       53|
|               White|       29|
|         Other Asian|        4|
|             Unknown|        3|
|            Filipino|        1|
+--------------------+---------+

Total execution time: 29.24 seconds

### Query 5

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, sum, when, row_number, expr
from pyspark.sql.window import Window
import time

# Start timer
start_time = time.time()

# Start Spark session
spark = SparkSession.builder \
    .appName("Query2 DataFrame API") \
    .config("spark.executor.instances", "4") \
    .getOrCreate()

# Load datasets
crime_data_2010_2019 = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
    header=True, inferSchema=True
)
crime_data_2020_present = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",
    header=True, inferSchema=True
)

# Combine both datasets
crime_data = crime_data_2010_2019.union(crime_data_2020_present)

In [3]:
# Load the CSV file
csv_file_path = "s3://initial-notebook-data-bucket-dblab-905418150721/LA_Police_Stations.csv"
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

# Inspect columns
print("Columns in the CSV file:")
print(df.columns)

# Inspect schema
print("Schema of the CSV file:")
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Columns in the CSV file:
['X', 'Y', 'FID', 'DIVISION', 'LOCATION', 'PREC']
Schema of the CSV file:
root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- FID: integer (nullable = true)
 |-- DIVISION: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- PREC: integer (nullable = true)

#### 2 executors × 4 cores/8GB memory

In [24]:
import time
from sedona.register.geo_registrator import SedonaRegistrator
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, mean, count, min, first

# Start the timer
start_time = time.time()

# Initialize Spark Session with Sedona
spark = SparkSession.builder \
    .appName("GeospatialQuery") \
    .config("spark.jars.packages", "org.apache.sedona:sedona-sql-3.0_2.12:1.6.1") \
    .config("spark.executor.instances", "2") \
    .config("spark.executor.cores", "4") \
    .config("spark.executor.memory", "8g") \
    .config("spark.driver.memory", "8g") \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

# Create Spatial DataFrames
# Police stations use X (longitude) and Y (latitude)
df = df.withColumn("station_geometry", expr("ST_Point(cast(X as Decimal(24, 20)), cast(Y as Decimal(24, 20)))"))

# Crimes use LAT (latitude) and LON (longitude)
crime_data = crime_data.withColumn("crime_geometry", expr("ST_Point(cast(LON as Decimal(24, 20)), cast(LAT as Decimal(24, 20)))"))

# Perform Spatial Join to calculate distances from all crimes to all police stations
df_broadcast = df.select("DIVISION", "station_geometry").cache()

# Calculate distances
distances = crime_data.crossJoin(df_broadcast) \
    .withColumn("distance", expr("ST_Distance(crime_geometry, station_geometry)"))

# Assign each crime to its closest division
closest_crimes = distances.withColumn("rank", expr("ROW_NUMBER() OVER (PARTITION BY DR_NO ORDER BY distance ASC)")) \
    .filter(col("rank") == 1) \
    .select("DR_NO", "distance", "DIVISION")

# Aggregate by division to calculate the number of crimes and average distance
result = closest_crimes.groupBy("DIVISION").agg(
    count("*").alias("number_of_crimes"),
    mean("distance").alias("average_distance")
).orderBy(col("number_of_crimes").desc())

# Show all rows of the result
result.show(result.count(), truncate=False)

# End the timer
end_time = time.time()

# Calculate and display the runtime
runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------------+--------------------+
|DIVISION        |number_of_crimes|average_distance    |
+----------------+----------------+--------------------+
|HOLLYWOOD       |213080          |0.02043779072548565 |
|VAN NUYS        |211457          |0.028653154590629136|
|WILSHIRE        |198150          |0.026312166557481587|
|SOUTHWEST       |186742          |0.021577001184243143|
|OLYMPIC         |180463          |0.01729162112331338 |
|NORTH HOLLYWOOD |171159          |0.026115214222567722|
|77TH STREET     |167323          |0.016584871496068188|
|PACIFIC         |157468          |0.037495777088312074|
|CENTRAL         |154474          |0.009868086849235298|
|SOUTHEAST       |151999          |0.024150127195506455|
|RAMPART         |149675          |0.014730484635455721|
|TOPANGA         |147167          |0.03243890335156792 |
|WEST VALLEY     |130933          |0.02897360719640746 |
|HARBOR          |130206          |3.2997622866934675  |
|FOOTHILL        |122515          |0.04125740608010438 |
|WEST LOS ANGELES|121074          |0.029842606564859795|
|HOLLENBECK      |119329          |0.026407445235885316|
|NEWTON          |109078          |0.015890866822603905|
|MISSION         |109009          |0.035032007153604966|
|NORTHEAST       |105687          |0.03907902069344001 |
|DEVONSHIRE      |76349           |0.02762167654642529 |
+----------------+----------------+--------------------+

Total execution time: 56.37 seconds

#### 4 executors × 2 cores/4GB memory

In [25]:
import time
from sedona.register.geo_registrator import SedonaRegistrator
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, mean, count, min, first

# Start the timer
start_time = time.time()

# Initialize Spark Session with specified resources
spark = SparkSession.builder \
    .appName("GeospatialQuery") \
    .config("spark.executor.instances", "4") \
    .config("spark.executor.cores", "2") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

# Create Spatial DataFrames
# Police stations use X (longitude) and Y (latitude)
df = df.withColumn("station_geometry", expr("ST_Point(cast(X as Decimal(24, 20)), cast(Y as Decimal(24, 20)))"))

# Crimes use LAT (latitude) and LON (longitude)
crime_data = crime_data.withColumn("crime_geometry", expr("ST_Point(cast(LON as Decimal(24, 20)), cast(LAT as Decimal(24, 20)))"))

# Perform Spatial Join to calculate distances from all crimes to all police stations
df_broadcast = df.select("DIVISION", "station_geometry").cache()

# Calculate distances
distances = crime_data.crossJoin(df_broadcast) \
    .withColumn("distance", expr("ST_Distance(crime_geometry, station_geometry)"))

# Assign each crime to its closest division
closest_crimes = distances.withColumn("rank", expr("ROW_NUMBER() OVER (PARTITION BY DR_NO ORDER BY distance ASC)")) \
    .filter(col("rank") == 1) \
    .select("DR_NO", "distance", "DIVISION")

# Aggregate by division to calculate the number of crimes and average distance
result = closest_crimes.groupBy("DIVISION").agg(
    count("*").alias("number_of_crimes"),
    mean("distance").alias("average_distance")
).orderBy(col("number_of_crimes").desc())

# Show all rows of the result
result.show(result.count(), truncate=False)

# End the timer
end_time = time.time()

# Calculate and display the runtime
runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------------+--------------------+
|DIVISION        |number_of_crimes|average_distance    |
+----------------+----------------+--------------------+
|HOLLYWOOD       |213080          |0.020437790725485655|
|VAN NUYS        |211457          |0.02865315459062913 |
|WILSHIRE        |198150          |0.026312166557481583|
|SOUTHWEST       |186742          |0.021577001184243143|
|OLYMPIC         |180463          |0.01729162112331337 |
|NORTH HOLLYWOOD |171159          |0.026115214222567722|
|77TH STREET     |167323          |0.016584871496068194|
|PACIFIC         |157468          |0.03749577708831207 |
|CENTRAL         |154474          |0.0098680868492353  |
|SOUTHEAST       |151999          |0.024150127195506462|
|RAMPART         |149675          |0.014730484635455718|
|TOPANGA         |147167          |0.03243890335156792 |
|WEST VALLEY     |130933          |0.028973607196407465|
|HARBOR          |130206          |3.2997622866934675  |
|FOOTHILL        |122515          |0.041257406080104385|
|WEST LOS ANGELES|121074          |0.029842606564859802|
|HOLLENBECK      |119329          |0.02640744523588532 |
|NEWTON          |109078          |0.0158908668226039  |
|MISSION         |109009          |0.03503200715360496 |
|NORTHEAST       |105687          |0.039079020693440006|
|DEVONSHIRE      |76349           |0.02762167654642529 |
+----------------+----------------+--------------------+

Total execution time: 46.34 seconds

#### 8 executors × 1 core/2 GB memory

In [26]:
import time
from sedona.register.geo_registrator import SedonaRegistrator
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col, mean, count, min, first

# Start the timer
start_time = time.time()

# Initialize Spark Session with specified resources
spark = SparkSession.builder \
    .appName("GeospatialQuery") \
    .config("spark.executor.instances", "8") \
    .config("spark.executor.cores", "1") \
    .config("spark.executor.memory", "2g") \
    .config("spark.driver.memory", "2g") \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)

# Create Spatial DataFrames
# Police stations use X (longitude) and Y (latitude)
df = df.withColumn("station_geometry", expr("ST_Point(cast(X as Decimal(24, 20)), cast(Y as Decimal(24, 20)))"))

# Crimes use LAT (latitude) and LON (longitude)
crime_data = crime_data.withColumn("crime_geometry", expr("ST_Point(cast(LON as Decimal(24, 20)), cast(LAT as Decimal(24, 20)))"))

# Perform Spatial Join to calculate distances from all crimes to all police stations
df_broadcast = df.select("DIVISION", "station_geometry").cache()

# Calculate distances
distances = crime_data.crossJoin(df_broadcast) \
    .withColumn("distance", expr("ST_Distance(crime_geometry, station_geometry)"))

# Assign each crime to its closest division
closest_crimes = distances.withColumn("rank", expr("ROW_NUMBER() OVER (PARTITION BY DR_NO ORDER BY distance ASC)")) \
    .filter(col("rank") == 1) \
    .select("DR_NO", "distance", "DIVISION")

# Aggregate by division to calculate the number of crimes and average distance
result = closest_crimes.groupBy("DIVISION").agg(
    count("*").alias("number_of_crimes"),
    mean("distance").alias("average_distance")
).orderBy(col("number_of_crimes").desc())

# Show all rows of the result
result.show(result.count(), truncate=False)

# End the timer
end_time = time.time()

# Calculate and display the runtime
runtime = end_time - start_time
print(f"Total execution time: {runtime:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+----------------+--------------------+
|DIVISION        |number_of_crimes|average_distance    |
+----------------+----------------+--------------------+
|HOLLYWOOD       |213080          |0.02043779072548566 |
|VAN NUYS        |211457          |0.028653154590629126|
|WILSHIRE        |198150          |0.026312166557481583|
|SOUTHWEST       |186742          |0.021577001184243143|
|OLYMPIC         |180463          |0.017291621123313373|
|NORTH HOLLYWOOD |171159          |0.02611521422256772 |
|77TH STREET     |167323          |0.016584871496068188|
|PACIFIC         |157468          |0.037495777088312074|
|CENTRAL         |154474          |0.009868086849235298|
|SOUTHEAST       |151999          |0.02415012719550645 |
|RAMPART         |149675          |0.014730484635455718|
|TOPANGA         |147167          |0.03243890335156791 |
|WEST VALLEY     |130933          |0.02897360719640747 |
|HARBOR          |130206          |3.299762286693468   |
|FOOTHILL        |122515          |0.041257406080104385|
|WEST LOS ANGELES|121074          |0.029842606564859795|
|HOLLENBECK      |119329          |0.026407445235885323|
|NEWTON          |109078          |0.0158908668226039  |
|MISSION         |109009          |0.03503200715360496 |
|NORTHEAST       |105687          |0.039079020693440006|
|DEVONSHIRE      |76349           |0.02762167654642529 |
+----------------+----------------+--------------------+

Total execution time: 16.25 seconds